.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 992px) {
        max-width: 960px;
    }

    @media (max-width: 768px) {
        max-width: 720px;
    }

    @media (max-width: 576px) {
        max-width: 540px;
    }
}

.untouchable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.hover-underline-white {
    position: relative;

    &::after {
        content: '';
        display: block;

        height: 2px;
        width: 100%;
        background-color: $color-white;

        position: absolute;
        left: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(1px);

        transition: all 0.4s;
    }

    &:hover {
        &::after {
            opacity: 1;
            visibility: visible;
            transform: translateY(4px);
        }
    }
}